/* CSS Document */

form {
    width: 1000px;
    height: 600px;
    margin: 20px auto;
    padding-left: 21%;
    box-sizing: border-box;
    border-radius: 50%;
    background-image: url(../images/18.jpg);
    background-repeat: no-repeat;
    background-position: 165px -11px;
}
@font-face{
	font-family:华文行楷;
	src:url(../font/huawenxingkai.ttf);
}
h2 {
    font-size: 40px;
    margin: 40px 0;
    font-family: "华文行楷";
    padding-left: 121px;
}

form p {
    height: 31px;
    margin-top: 15px;
}

form p span {
    text-align: right;
    width: 100px;
    margin-right: 15px;
    display: inline-block;
    font-weight: bold;
}

form p input {
    height: 30px;
}

form p:last-child {
    padding-top: 118px;
    padding-left: 98px;
}

textarea,
input {
    vertical-align: middle;
    resize: none;
    border-radius: 10px;
}

textarea {
    padding-bottom: 27px;
}

.tijiao {
    width: 58px;
    height: 33px;
    border-radius: 10px;
    background-color: #DDDDDD;
}


